@*@using TesteAdoNET.Data.Entities
@model Usuario*@
@if (Session["usuario"] != null)
{
    <ul class="navbar-nav">
        <li>@Html.ActionLink("Dashboard", "Dashboard", "Home", htmlAttributes: new { id = "dashboardLink", @class = "navbar-brand text-white", @style = "font-size: .9em" })</li>
        <li>@Html.ActionLink("Lung Simulator", "Game", "Home", htmlAttributes: new { id = "registerLink", @class = "navbar-brand text-white", @style = "font-size: .9em" })</li>
        @*<li>@Html.ActionLink("Testes", "Testes", "Home", routeValues: null, htmlAttributes: new { id = "testesLink", @class = "navbar-brand text-white", @style = "font-size: .9em" })</li>*@
        @*<li>@Html.ActionLink("Arti", "Testes", "Home", routeValues: null, htmlAttributes: new { id = "testesLink", @class = "navbar-brand text-white", @style = "font-size: .9em" })</li>*@
        <li>@Html.ActionLink("Logout", "Logout", "Home", routeValues: null, htmlAttributes: new { id = "logoutLink", @class = "navbar-brand text-white", @style = "font-size: .9em" })</li>
    </ul>
}
else
{
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Registre-se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "navbar-brand text-white" })</li>
        <li>@Html.ActionLink("Logon", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "navbar-brand text-white" })</li>
    </ul>
}
